.App {
  margin: 0px auto;
  width: 1024px;
}

h1,
h4 {
  margin: 0px;
  text-align: center;
}

ul {
  list-style-type: none;
}

li div {
  display: flex;
  align-items: center;
}

.dir {
  margin-left: 1;
  border-left: 1px solid black;
}

.tree {
  min-width: 20px;
  height: 100%;
}

.checkbox {
  width: 20px;
  height: 20px;
  background-color: #4c00ff;
}

.radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4c00ff;
}
/* 
.directory-list ul {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px solid #0082e6;
}

.directory-list li {
  list-style: none;
  color: #888;

}

.directory-list .folder,{
  color: #777;
  font-weight: bold;
}

.directory-list li:before {
  content: "";
  height: 20px;
  width: 20px;
}

.directory-list li.folder:before {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #0082e6;
  margin-left: 0px;
}

.directory-list li.folder.radio:before {
  border-radius: 50%;
}

.directory-list li {
  display: flex;
} */
