.App {
  margin: 0px auto;
  width: 1024px;
}

h1,
h4 {
  margin: 0px;
  text-align: center;
}
/* ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
li {
  border-left: 2px solid #0082e6;
  margin-left: 1em;
  padding-left: 1em;
  position: relative;
}
li li {
  margin-left: 0;
}

li::before {
  content: "┗";
  color: #0082e6;
  position: absolute;
  top: -5px;
  left: -9px;
}
ul > li:last-child {
  border-left: 2px solid transparent;
}*/
ul li div {
  cursor: pointer;
  display: flex;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #0082e6;
  margin-left: 10px;
}
.radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0082e6;
  margin-left: 10px;
}

ul,
ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul ul {
  margin-left: 8px;
}
ul li {
  margin: 0px 12px;
  padding: 0 12px;
  line-height: 20px;
  color: #369;
  font-weight: bold;
  border-left: 1px solid rgb(100, 100, 100);
}
ul li:last-child {
  border-left: none;
}
ul li:before {
  position: relative;
  top: 0.9em;
  height: 1em;
  width: 22px;

  color: white;
  border-bottom: 1px solid rgb(100, 100, 100);
  content: "";
  display: inline-block;
  left: -12px;
  z-index: -2;
}
ul li:last-child {
  border-left: 1px solid rgb(100, 100, 100);
}
ul li::marker {
  display: none;
}
span {
  margin: 0px 12px;
}
